/* @import url("https://unpkg.com/@talwindcss.typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/talwindcss@^1.0/dist/talwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

.cursive {
  font-family: 'Amatic Sc', cursive;
  font-weight: 700;
}

.pros-img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 150px;
}
